*{
  margin: 30;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  color: white;
  text-align: center;
  margin: 10px;
  text-shadow: 5px 2px #0a0909;;
}

h3{
  color: white;
  text-align: center;
  margin: 4px;
  font-size: 25px;
}

.container{
  max-width: 1080px;
  margin: 30px auto;
}

input[type="text"]{
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn{
  background: #6f83df;
  cursor: pointer;
  color: white;
  display: block;
  margin: 10px 0 30px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  border-color: #8b98d4;
}

.topContainer{
  margin: 30px auto;
  width: 400px;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  width: 800px;
}

.details {
  width: 100%;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  width: 20%;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 18px;
  width: 80%;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}